.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lineHeight {
  line-height: 0;
}

.navlink {
  text-decoration: none;
  color: black;
}

.navlink.active {
  background: lightgray;
  border-radius: 5px;
}

.title {
  font-size: 1.3em;
}

ul li {
  cursor: pointer;
}

.inventry-menu {
  background: inherit;
}

.inventry-cont {
  line-height: 1;
  padding-inline: 5px;
  border-radius: 5px;
  background: grey;
  color: white;
}

.inventry-cont .arrow-icon {
  font-size: 2.5em !important;
}

.inventry-menu li {
  cursor: pointer;
  line-height: 0;
}

.inventry-menu .master {
  line-height: 0;
  padding-block: 0;
}

.inventry-menu .master-items li {
  line-height: 1;
  cursor: pointer;
}

.vendor-items li,
.inward-items li,
.outward-items li,
.jobwork-items li {
  line-height: 1.5;
  cursor: pointer;
}

.inventry-menu .inventry-stock,
.inventry-menu .invenry-packing {
  line-height: 1.5;
}

.inventry-menu .reports-items li,
.inventry-menu .reports2-items li {
  line-height: 1.5 !important;
}

.inventry-menu .arrow-icon {
  font-size: 2em;
}

.inventry-menu .title {
  font-size: 1.3em;
}

.inventry-menu li {
  font-size: 1.3em;
}

/* purchase-menu */

.purchase-menu {
  background: inherit;
}

.purchase {
  background: grey;
  color: white;
  line-height: 1;
  padding-inline: 5px;
  border-radius: 5px;
}

.purchase .title {
  font-size: 1.3em;
}

.purchse-items li {
  font-size: 1.3em;
  line-height: 1.5;
  cursor: pointer;
  padding-block: 5px;
}

.purchse-items .inward,
.purchse-items .reports {
  line-height: 0;
}

.purchse-items .arrow-icon {
  font-size: 2em;
}

/* finance-cont */
.finance-cont {
  /* border: 2px solid red; */
  background: inherit;
}

.finance {
  line-height: 0;
  padding-inline: 5px;
  border-radius: 5px;
  background: grey;
  color: white;
}

.finance .title,
.finance-item .title {
  font-size: 1.3em;
}

.finance-item li {
  line-height: 0;
}

.finance-item .finance-master {
  line-height: 0;
}

.finance-master-items li,
.finance-purchase-items li,
.finance-sales-items li,
.finance-transaction-items li,
.finance-tally-items li,
.finance-reports-items li {
  line-height: 1.5;
  cursor: pointer;
  padding-block: 5px;
}

.finance-cont .cheque {
  line-height: 0;
}

.cheque .arrow-icon {
  font-size: 2em !important;
}

.finance-reports-items .register {
  line-height: 0;
}

.sales-register,
.outstanding,
.account-summary,
.gst-report,
.gst-one,
.gst-two,
.inventry-report,
.inventry-sumarry {
  line-height: 0 !important;
}

/* quality */

.quality-title {
  line-height: 0;
  padding-inline: 5px;
  background: gray;
  color: white;
}

.quality-items li {
  padding-block: 5px;
}

.quality .title {
  font-size: 1.3em;
}

.quality-master,
.quality-report {
  line-height: 0;
}

.quality-master span {
  font-size: 1.3em;
}
.quality-master .arrow-icon {
  font-size: 2.5em;
}

.master-items li {
  line-height: 0.5 !important;
  font-size: 1.3em;
}

/* crm module */

.crm-top {
  padding-inline: 5px;
  background: gray;
  color: white;
  border-radius: 5px;
}

.crm-top,
.crm-master,
.crm-inquery {
  line-height: 0;
}

.crm-inquiry-master li,
.crm-inquery-items li,
.crm-deal-items li,
.crm-sales-items li,
.crm-task-item li,
.crm-contact-items li,
.crm-complanint-items li,
.crm-phonebook-items li,
.crm-mis-items li,
.crm-graphs-items li,
.crm-attachment-items li,
.crm-report-items li {
  padding-block: 5px;
}

.crm-top .title,
.crm-master .title,
.crm-master-items .title,
.crm-inquery .title,
.crm-inquiry-master .title,
.crm-inquery-items .title,
.crm-deal .title {
  font-size: 1.3em;
  padding-block: 5px;
}

/* hr and payroll */

.hrPayroll-top {
  padding-inline: 5px;
  background: gray;
  color: white;
  border-radius: 5px;
}

.hr-master-items li,
.hr-leave-items li,
.hr-employee-items li,
.hr-performance-items li,
.hr-attendance-items li,.hr-payroll-items li,.hr-reports-items li,.hr-graphs-items li {
  padding-block: 5px;
}


/* production */

.production-top{
  padding-inline: 5px;
  border-radius: 5px;
  background: gray;
  color: white;
}

.production-items li{
  padding-block: 5px;
}

/* iso */

.iso-top{
  background: gray;
  color: white;
  padding-inline: 5px;
  border-radius: 5px;
}

.iso-marketing-items li,.iso-production-items li ,.iso-purchase-items li{
  padding-block: 5px;
}

/* logout-top */

.logout-top .title {
  margin-left: 4.5em;
  cursor: pointer;
}
