.sidebar .left{
  border: 2px solid #a9a9a9 ;
  border-top: 0;
  border-bottom: 0;
  overflow-y: scroll;
  /* background: black;
  color: white; */
}

/* .dashboard ::-webkit-scrollbar{
  width: 20px;
  background:grey;
}

.dashboard ::-webkit-scrollbar-track{
  border-radius: 10px;
  background: green;
}

.dashboard ::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: red !important;
} */



.dashborad-cont{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5px;
}

.dashborad-cont .dashboard-title{
  flex: 1;
  text-align: center;
  font-size: 1.3em;
  /* border: 2px solid red; */
}