.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li{
  padding-inline: 5px;
}

ul li:hover{
  background:lightgray;
  /* color: white; */
  border-radius: 5px;
}

.nav-link{
  text-decoration: none;
  font-size: 1.3em;
  background: transparent;
  padding-block:8px !important;
}

/* .nav-link .active{
  background:lightgray !important;
 
} */

.active{
  /* background: lightgray; */
  padding-block: 5px;
  border-radius: 5px;
}

.company-details-title a.active{
  background: lightgray;
  border-radius: 5px;
}

.role a.active,.manage-user a.active{
  background: lightgray;
  border-radius: 5px;
}
.title{
  font-size: 1.3em;
}

.CountryMaster a.active ,.BankMaster a.active,.StateMaster a.active{
  background: lightgray;
  border-radius: 5px;
  padding-block:10px;
}
.admin-menu{
  /* border: 2px solid green; */
  width: 100%;
  
}

.admin-menu-cont{
  line-height: 1;
  padding-inline:5px;
  border-radius: 5px;
  background: gray;
  color: white;
}

.admin-menu .title{
  font-size: 1.3em;
}

.admin-menu .left{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon , .arrow-icon{
  font-size: 2.5em;
  cursor: pointer;
  
}
.arrow-icon{
  transition: 0.3s ease-in-out;
}

.admin-dropdown.active{
  transform: rotate(180deg);
  transition: 1s ease-in-out;
}
.admin-items .profile-arrow{
  cursor: pointer;
}

.admin-items li{
  /* border: 1px solid red !important; */
  line-height: 1;
}

.admin-items li span{
  font-size: 1.3em;
}

.admin-items .arrow-icon{
  font-size: 2.5em;
}



.admin-items .title{
  font-size: 1em;
  padding-block: 0.3em;
  cursor: pointer;
  
}

.profile-items li,.master-items li,.setting-items li,.import-excel-items li,.finance-year-items li{
  cursor: pointer;
  padding-block: 0.5em;
}

 .profile-items li span{
  font-size: 1.2em;
}

.master-items li{
  padding-block:0.8em !important;
}


