@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

hr{
  border: 0;
  outline: 0;
  height: 2px;
  background-color: #a9a9a9;
}

.logo{
  cursor: pointer;
}

.nav-btns a.active{
  text-decoration:none;
  
}

.nav-tabs .nav-link{
  border: 0 !important; 
}

.navLink{
  text-decoration: none;
  color: black;
  padding-bottom: 5px;
  font-size:1.2rem;
  margin-inline: 0.5rem;
  &:hover{
    color: blue;
  }
  /* border-radius: 5px; */
}

/* .active{
  border-bottom:2px solid #808080 !important ;
  padding:0;
  padding-bottom:3px;
} */

.nav-item a:hover{
  background:none !important;
 
} 
.app-content{
  display: flex;
  border-top: 2px solid #a9a9a9 ;
  /* border: 2px solid red; */
}


ul {
  list-style: none;
  padding-inline: 0;
}

ul li{
  padding-inline: 2px;
}

.company-title{
  text-transform: uppercase;
}


fieldset {
  width: auto;
  border: 1.5px solid grey;
  padding-inline: 0.5em;
  border-radius: 4px;
}

legend {
  margin-left: 1em;
  font-size: 1.3em;
  float: none;
  width: auto;
}

.form-select{
  height: 3em;
}

.btn-next{
  width: 100%;
  max-width: 5em;
}

form label{
  font-size: 1.2rem !important;
}

/* DataTable row color */

.table-row {
  transition: background-color 0.3s ease;

}

.table-row:hover {
  background-color: #f5f5f5 !important; /* Hover color */
}

.em-btn:hover{
  background-color:grey;
  color: white;
}

@media (max-width:768px) {
  .hamberMenu{
    display: flex !important;
  }
  .mobile-cont{
    display: none !important;
  }

  .dashboard{
    position: absolute;
    z-index: 10;
    width:100%;
    top:0rem;
    background: lightgray;
    left:-100%;
    transition: 0.5s ease-in-out;
    /* display: none; */
  }
  .dashboard.show{
    /* display: block; */
    left: 0 !important;
  }
  .dashboard-right{
    width: 100% !important;
    /* background: red !important; */
  }

  .nav-cont .logo{
    /* border: 2px solid green; */
    max-width: 10rem;
  }
}
